@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--tenne-tawny: #d65108;
	--tenne-tawny-dark: #b54507;
}

html {
	font-size: 62.5%;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container {
	min-height: 100vh;
}
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	background: #fff;
	text-align: center;
}

/*Start Header Section */
header {
	/* height: 5rem; */
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 3rem 1rem;
}
.logo {
	margin-right: auto;
}
.logo img {
	width: 30%;
}

.nav_links {
	list-style: none;
}
.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}
/*End Header Section */
.nav_links li a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
	font-weight: 500;
	font-size: 16px;
	color: #24252a;
}
.nav_links li a:hover {
	color: #0088a9;
}
.btn-common {
	margin-left: 20px;
	padding: 9px 25px;
	background-color: #f0664e;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.btn-common:hover {
	background-color: rgba(0, 135, 169, 0.8);
}
form {
	display: flex;
	align-items: center;
	width: 90%;
	max-width: 500px;
	height: 4rem;
	margin: 20px auto;
	background-color: rgb(223, 223, 223);
	border-radius: 6px;
	position: relative;
}
form input {
	width: 85%;
	height: 100%;
	background-color: transparent;
	padding: 10px;
	border: none;
	outline: none;
	display: inline-block;
	padding-left: 4rem;
}
form .search-btn {
	width: 15%;
	border: none;
	height: 100%;
	background-color: #f06c4e;
	cursor: pointer;
	border-radius: 0px 6px 6px 0px;
	color: whitesmoke;
}

form ion-icon {
	position: absolute;
	left: 1rem;
	font-size: 2.2rem;
	color: rgb(75, 75, 75);
}

/* ------------------------ */

.meal-result {
	margin-top: 4rem;
}
#meal {
	margin: 2.4rem 0;
}
.meal-item {
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
	margin: 2rem 0;
}
.meal-img img {
	width: 100%;
	display: block;
}
.meal-name {
	padding: 1.5rem 0.5rem;
}
.meal-name h3 {
	font-size: 1.4rem;
}
.details-btn {
	text-decoration: none;
	color: #fff;
	background: var(--tenne-tawny);
	font-weight: 500;
	font-size: 1.1rem;
	padding: 0.75rem 0;
	display: block;
	width: 175px;
	margin: 1rem auto;
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
	transition: all 0.4s linear;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
}
.details-btn:hover {
	background: var(--tenne-tawny-dark);
}

/* meal details */
.meal-details {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	color: #fff;
	background: var(--tenne-tawny);
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	width: 90%;
	height: 90%;
	overflow-y: scroll;
	display: none;
	padding: 2rem 0;
}
.meal-details::-webkit-scrollbar {
	width: 10px;
}
.meal-details::-webkit-scrollbar-thumb {
	background: #f0f0f0;
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
}

/* js related */
.showDetails {
	display: block;
}

.meal-details-content {
	margin: 2rem;
}

.details-close-btn {
	position: absolute;
	right: 2rem;
	top: 2rem;
	font-size: 1.8rem;
	background: #fff;
	border: none;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
}
.meal-title {
	margin-top: 1rem;
	letter-spacing: 1px;
	padding-bottom: 1rem;
}
.meal-category {
	background: #fff;
	font-weight: 600;
	color: var(--tenne-tawny);
	display: inline-block;
	padding: 0.2rem 0.5rem;
	border-radius: 0.3rem;
	-webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;
	-ms-border-radius: 0.3rem;
	-o-border-radius: 0.3rem;
}
.meal-category {
	background: #fff;
	font-weight: 600;
	color: var(--tenne-tawny);
	display: inline-block;
	padding: 0.2rem 0.5rem;
	border-radius: 0.3rem;
	-webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;
	-ms-border-radius: 0.3rem;
	-o-border-radius: 0.3rem;
}
.meal-ingredients {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
	padding: 1rem 0;
}
.meal-ingredients h3 {
	margin-bottom: 1rem;
}

.meal-ingredients ul {
	list-style: none;
	text-align: left;
}
.meal-ingredients ul li {
	margin: 0.5rem;
}
.meal-details-img img {
	width: 80%;
	height: 80%;
	border-radius: 5px;
	margin: 0 auto;
	display: block;
}

/*  */
.notFound {
	grid-template-columns: 1fr !important;
	color: var(--tenne-tawny);
	font-size: 1.8rem;
	font-weight: 600;
	width: 100%;
}

/* Media Queries */
@media screen and (min-width: 600px) {
	.meal-search-box {
		width: 540px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 768px) {
	#meal {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
	.meal-item {
		margin: 0;
	}
	.meal-details {
		width: 700px;
	}
}

@media screen and (min-width: 992px) {
	#meal {
		grid-template-columns: repeat(3, 1fr);
	}
}
